img#avatar(src="/images/emarref.jpeg" alt="Malcolm Fell")
ul.links
    li: a(href="https://github.com/emarref", target="_blank"): img(src="/images/github.png", alt="GitHub")
    li: a(href="https://twitter.com/emarref", target="_blank"): img(src="/images/twitter.png", alt="Twitter")