img#avatar(src="https://www.gravatar.com/avatar/0d49c8ee20beed1096a4ca3a1bc08acf?size=200" alt="Malcolm Fell")
ul.links
    li: a(href="https://github.com/emarref", target="_blank"): img(src="/images/github.png", alt="GitHub")
    li: a(href="https://twitter.com/emarref", target="_blank"): img(src="/images/twitter.png", alt="Twitter")