img#avatar(src="/images/emarref.jpeg" alt="Malcolm Fell")
ul.links
    li: a(href="https://github.com/emarref", target="_blank"): img(src="/images/github.png", alt="GitHub")
    li: a(href="https://twitter.com/emarref", target="_blank"): img(src="/images/twitter.png", alt="Twitter")
    li: a(href="https://www.linkedin.com/in/emarref/", target="_blank"): img(src="/images/linkedin.png", alt="LinkedIn")
    li: a(href="https://mastodon.social/@emarref", rel="me," target="_blank"): img(src="/images/mastodon.png", alt="Mastodon")
