@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700,300italic,700italic);

body {
  color: white;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@media (min-width: 992px) {
  body {
    font-weight: 100;    
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }
}